@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- Start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row search-page-top d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    Tìm Kiếm Việc Làm
                </h1>
                <!--Search box-->
                @* @Html.Partial("../Shared/_SearchBoxPartial.cshtml")
                <p style="font-size: 20px" class="text-white"> <span>Search by tags:</span> Developer, Engineer, Technology, Support, Manager, Senior, Junior</p> *@
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Content -->
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Details -->
            <div class="card">
                <div class="card-body">
                    <h1 class="pt-10 text-xl-center">
                        Đổi mật khẩu
                    </h1>
                    <div class="pt-10">
                        <partial name="_StatusMessage" for="StatusMessage" class="mb-3" />
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <form id="change-password-form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="" role="alert"></div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Vui lòng nhập mật khẩu cũ của bạn." />
                                        <label asp-for="Input.OldPassword" class="form-label">Mật khẩu cũ</label>
                                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Vui lòng nhập mật khẩu mới của bạn." />
                                        <label asp-for="Input.NewPassword" class="form-label">Mật khẩu mới</label>
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Vui lòng xác nhận mật khẩu mới của bạn." />
                                        <label asp-for="Input.ConfirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Cập nhật mật khẩu</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Details -->
            <</div>
        </div>
    </div>
</div>
<!--End Content -->
@* <h1 class="pt-10 text-xl-center">
	Đổi mật khẩu
</h1>
<div class="pt-10">
    <partial name="_StatusMessage" for="StatusMessage" class="mb-3"/>
	<div class="row justify-content-center">
        <div class="col-md-6">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Vui lòng nhập mật khẩu cũ của bạn." />
                    <label asp-for="Input.OldPassword" class="form-label">Mật khẩu cũ</label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Vui lòng nhập mật khẩu mới của bạn." />
                    <label asp-for="Input.NewPassword" class="form-label">Mật khẩu mới</label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Vui lòng xác nhận mật khẩu mới của bạn." />
                    <label asp-for="Input.ConfirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary mb-5">Cập nhật mật khẩu</button>
            </form>
        </div>
    </div>
</div>
 *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
