USE [master]
GO
/****** Object:  Database [AoGiac6]    Script Date: 02/04/2025 12:58:36 PM ******/
CREATE DATABASE [AoGiac6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AoGiac6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AoGiac6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AoGiac6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AoGiac6_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AoGiac6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AoGiac6]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVs]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileCV] [nvarchar](max) NOT NULL,
	[TenCV] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_CVs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonUngTuyens]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonUngTuyens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileCV] [nvarchar](max) NULL,
	[TenCV] [nvarchar](max) NULL,
	[XetDuyet] [nvarchar](max) NULL,
	[StatusId] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[PhieuDangTuyenId] [int] NOT NULL,
 CONSTRAINT [PK_DonUngTuyens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meets]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Method] [nvarchar](max) NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[Address] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[YeuCau] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NULL,
	[NhaTuyenDungId] [int] NOT NULL,
 CONSTRAINT [PK_Meets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaTuyenDungs]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaTuyenDungs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNTD] [nvarchar](max) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](max) NULL,
	[TenCty] [nvarchar](max) NULL,
	[GiayPhepKinhDoanh] [nvarchar](max) NULL,
	[MaSoThue] [nvarchar](max) NULL,
	[GiayChungThuc] [nvarchar](max) NULL,
	[TinhId] [int] NULL,
	[DiaDiem] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[QuyMo] [nvarchar](max) NULL,
	[HinhAnhCty] [nvarchar](max) NULL,
	[ThongTinCty] [nvarchar](max) NULL,
	[ImageDaiDien] [nvarchar](max) NULL,
	[ImageBangTin] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TinNhanThem] [nvarchar](max) NULL,
	[XetDuyet] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NULL,
	[StatusId] [int] NULL,
 CONSTRAINT [PK_NhaTuyenDungs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDangTuyens]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDangTuyens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNganh] [nvarchar](100) NOT NULL,
	[MucLuong] [nvarchar](max) NULL,
	[NamKN] [nvarchar](max) NULL,
	[TinhId] [int] NOT NULL,
	[TenViecLam] [nvarchar](100) NOT NULL,
	[ChucDanh] [nvarchar](max) NULL,
	[MoTa] [nvarchar](500) NULL,
	[DiaDiem] [nvarchar](max) NULL,
	[NgayLapPhieu] [datetime2](7) NULL,
	[HanNopHoSo] [datetime2](7) NULL,
	[NhaTuyenDungId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_PhieuDangTuyens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [bit] NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinhs]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinhs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenTinh] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Tinhs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](13) NULL,
	[CCCD] [nvarchar](13) NULL,
	[Image] [nvarchar](max) NULL,
	[StatusId] [int] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 02/04/2025 12:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241207134117_DACN', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241212165908_profile', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241212170308_profile1', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[CVs] ON 

INSERT [dbo].[CVs] ([Id], [FileCV], [TenCV], [UserId]) VALUES (1, N'/CVs\df4535fd-f4c8-4d15-b2db-7c80a6777936\DaoThiE.pdf', N'DaoThiE.pdf', N'df4535fd-f4c8-4d15-b2db-7c80a6777936')
INSERT [dbo].[CVs] ([Id], [FileCV], [TenCV], [UserId]) VALUES (2, N'/CVs\df4535fd-f4c8-4d15-b2db-7c80a6777936\LuuVanK.pdf', N'LuuVanK.pdf', N'df4535fd-f4c8-4d15-b2db-7c80a6777936')
INSERT [dbo].[CVs] ([Id], [FileCV], [TenCV], [UserId]) VALUES (3, N'/CVs\0f5d7c80-a2af-49ba-be26-3861fd172df0\NguyenVanA.pdf', N'NguyenVanA.pdf', N'0f5d7c80-a2af-49ba-be26-3861fd172df0')
SET IDENTITY_INSERT [dbo].[CVs] OFF
GO
SET IDENTITY_INSERT [dbo].[DonUngTuyens] ON 

INSERT [dbo].[DonUngTuyens] ([Id], [FileCV], [TenCV], [XetDuyet], [StatusId], [UserId], [PhieuDangTuyenId]) VALUES (1, N'/CVs\df4535fd-f4c8-4d15-b2db-7c80a6777936\LuuVanK.pdf', N'LuuVanK.pdf', N'Yes', 1, N'df4535fd-f4c8-4d15-b2db-7c80a6777936', 1)
INSERT [dbo].[DonUngTuyens] ([Id], [FileCV], [TenCV], [XetDuyet], [StatusId], [UserId], [PhieuDangTuyenId]) VALUES (2, N'/CVs\df4535fd-f4c8-4d15-b2db-7c80a6777936\DaoThiE.pdf', N'DaoThiE.pdf', N'Waiting', 1, N'df4535fd-f4c8-4d15-b2db-7c80a6777936', 2)
INSERT [dbo].[DonUngTuyens] ([Id], [FileCV], [TenCV], [XetDuyet], [StatusId], [UserId], [PhieuDangTuyenId]) VALUES (3, N'/CVs\df4535fd-f4c8-4d15-b2db-7c80a6777936\DaoThiE.pdf', N'DaoThiE.pdf', N'No', 1, N'df4535fd-f4c8-4d15-b2db-7c80a6777936', 3)
SET IDENTITY_INSERT [dbo].[DonUngTuyens] OFF
GO
SET IDENTITY_INSERT [dbo].[Meets] ON 

INSERT [dbo].[Meets] ([Id], [Method], [Date], [Time], [Address], [Link], [YeuCau], [UserId], [NhaTuyenDungId]) VALUES (1, N'Offline', CAST(N'2024-12-18' AS Date), CAST(N'08:30:00' AS Time), N'abc, HCM', NULL, N'Ăn mặc nghiêm chỉnh và mang theo CV.', N'df4535fd-f4c8-4d15-b2db-7c80a6777936', 1)
INSERT [dbo].[Meets] ([Id], [Method], [Date], [Time], [Address], [Link], [YeuCau], [UserId], [NhaTuyenDungId]) VALUES (2, N'Offline', CAST(N'2024-12-18' AS Date), CAST(N'09:00:00' AS Time), N'abc, HCM', NULL, N'Ăn mặc nghiêm chỉnh và mang theo CV.', N'04548691-4abe-4423-8795-8ffd477c1a82', 1)
INSERT [dbo].[Meets] ([Id], [Method], [Date], [Time], [Address], [Link], [YeuCau], [UserId], [NhaTuyenDungId]) VALUES (3, N'Offline', CAST(N'2024-12-18' AS Date), CAST(N'09:30:00' AS Time), N'abc, HCM', NULL, N'Ăn mặc nghiêm chỉnh và mang theo CV.', N'df709456-0166-4a09-8d7c-820f97fbced6', 1)
SET IDENTITY_INSERT [dbo].[Meets] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaTuyenDungs] ON 

SET IDENTITY_INSERT [dbo].[NhaTuyenDungs] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDangTuyens] ON 

INSERT [dbo].[PhieuDangTuyens] ([Id], [TenNganh], [MucLuong], [NamKN], [TinhId], [TenViecLam], [ChucDanh], [MoTa], [DiaDiem], [NgayLapPhieu], [HanNopHoSo], [NhaTuyenDungId], [StatusId]) VALUES (1, N'Công nghệ thông tin', N'3 - 5 Triệu/Tháng', N'Thực tập sinh', 50, N'Lập trình viên', N'Nhân viên', N'Thực tập với dự án nhỏ', N'abc, Tp.HCM', CAST(N'2024-12-15T10:30:00.0000000' AS DateTime2), CAST(N'2024-12-30T10:30:00.0000000' AS DateTime2), 1, 1)
INSERT [dbo].[PhieuDangTuyens] ([Id], [TenNganh], [MucLuong], [NamKN], [TinhId], [TenViecLam], [ChucDanh], [MoTa], [DiaDiem], [NgayLapPhieu], [HanNopHoSo], [NhaTuyenDungId], [StatusId]) VALUES (2, N'Kinh tế', N'15 - 18 Triệu/Tháng', N'6 tháng - 1 năm', 50, N'Chuyên viên tài chính', N'Nhân viên', N'Ngày làm 8h bao ăn trưa', N'abc, Tp.HCM', CAST(N'2024-12-15T13:00:00.0000000' AS DateTime2), CAST(N'2024-12-31T13:00:00.0000000' AS DateTime2), 1, 1)
INSERT [dbo].[PhieuDangTuyens] ([Id], [TenNganh], [MucLuong], [NamKN], [TinhId], [TenViecLam], [ChucDanh], [MoTa], [DiaDiem], [NgayLapPhieu], [HanNopHoSo], [NhaTuyenDungId], [StatusId]) VALUES (3, N'Xây dựng', N'25 - 30 Triệu/Tháng', N'1-2 năm', 50, N'Trưởng phòng thiết kế', N'Quản lý', N'Chúng tôi cần xây thêm cơ sở phụ, cần gấp một nhà thiết kế', N'abc, Tp.HCM', CAST(N'2024-12-18T05:00:00.0000000' AS DateTime2), CAST(N'2024-12-30T06:00:00.0000000' AS DateTime2), 1, 1)
SET IDENTITY_INSERT [dbo].[PhieuDangTuyens] OFF
GO
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'34b271c8-d5fe-4ea1-9351-0b153e41bf01', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'423066e0-3246-4c80-a3cf-ec978758a990', N'Customer', N'CUSTOMER', NULL)
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'7118e6ef-cf7c-4288-b68e-d3ecf5df35b0', N'Employer', N'EMPLOYER', NULL)
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([Id], [StatusName]) VALUES (1, 1)
INSERT [dbo].[Statuses] ([Id], [StatusName]) VALUES (2, 0)
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Tinhs] ON 

INSERT [dbo].[Tinhs] ([Id], [TenTinh]) VALUES (1, N'Hà Nội')
INSERT [dbo].[Tinhs] ([Id], [TenTinh]) VALUES (2, N'Hà Giang')
INSERT [dbo].[Tinhs] ([Id], [TenTinh]) VALUES (3, N'Cao Bằng')
SET IDENTITY_INSERT [dbo].[Tinhs] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'6b89ced7-0f43-4547-9970-703ade929fbc', N'34b271c8-d5fe-4ea1-9351-0b153e41bf01')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'e0f90660-b366-40f2-9133-4404e19d221d', N'34b271c8-d5fe-4ea1-9351-0b153e41bf01')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'04548691-4abe-4423-8795-8ffd477c1a82', N'423066e0-3246-4c80-a3cf-ec978758a990')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CVs_UserId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_CVs_UserId] ON [dbo].[CVs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonUngTuyens_PhieuDangTuyenId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonUngTuyens_PhieuDangTuyenId] ON [dbo].[DonUngTuyens]
(
	[PhieuDangTuyenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonUngTuyens_StatusId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonUngTuyens_StatusId] ON [dbo].[DonUngTuyens]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DonUngTuyens_UserId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonUngTuyens_UserId] ON [dbo].[DonUngTuyens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Meets_NhaTuyenDungId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Meets_NhaTuyenDungId] ON [dbo].[Meets]
(
	[NhaTuyenDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Meets_UserId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Meets_UserId] ON [dbo].[Meets]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhaTuyenDungs_StatusId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhaTuyenDungs_StatusId] ON [dbo].[NhaTuyenDungs]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhaTuyenDungs_TinhId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhaTuyenDungs_TinhId] ON [dbo].[NhaTuyenDungs]
(
	[TinhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhaTuyenDungs_UserId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhaTuyenDungs_UserId] ON [dbo].[NhaTuyenDungs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhieuDangTuyens_NhaTuyenDungId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuDangTuyens_NhaTuyenDungId] ON [dbo].[PhieuDangTuyens]
(
	[NhaTuyenDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhieuDangTuyens_StatusId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuDangTuyens_StatusId] ON [dbo].[PhieuDangTuyens]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PhieuDangTuyens_TinhId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuDangTuyens_TinhId] ON [dbo].[PhieuDangTuyens]
(
	[TinhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleClaims_RoleId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleClaims_RoleId] ON [dbo].[RoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[Roles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserClaims_UserId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserClaims_UserId] ON [dbo].[UserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserLogins_UserId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLogins_UserId] ON [dbo].[UserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[Users]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_StatusId]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_StatusId] ON [dbo].[Users]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 02/04/2025 12:58:37 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Users]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CVs]  WITH CHECK ADD  CONSTRAINT [FK_CVs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CVs] CHECK CONSTRAINT [FK_CVs_Users_UserId]
GO
ALTER TABLE [dbo].[DonUngTuyens]  WITH CHECK ADD  CONSTRAINT [FK_DonUngTuyens_PhieuDangTuyens_PhieuDangTuyenId] FOREIGN KEY([PhieuDangTuyenId])
REFERENCES [dbo].[PhieuDangTuyens] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonUngTuyens] CHECK CONSTRAINT [FK_DonUngTuyens_PhieuDangTuyens_PhieuDangTuyenId]
GO
ALTER TABLE [dbo].[DonUngTuyens]  WITH CHECK ADD  CONSTRAINT [FK_DonUngTuyens_Statuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([Id])
GO
ALTER TABLE [dbo].[DonUngTuyens] CHECK CONSTRAINT [FK_DonUngTuyens_Statuses_StatusId]
GO
ALTER TABLE [dbo].[DonUngTuyens]  WITH CHECK ADD  CONSTRAINT [FK_DonUngTuyens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DonUngTuyens] CHECK CONSTRAINT [FK_DonUngTuyens_Users_UserId]
GO
ALTER TABLE [dbo].[Meets]  WITH CHECK ADD  CONSTRAINT [FK_Meets_NhaTuyenDungs_NhaTuyenDungId] FOREIGN KEY([NhaTuyenDungId])
REFERENCES [dbo].[NhaTuyenDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meets] CHECK CONSTRAINT [FK_Meets_NhaTuyenDungs_NhaTuyenDungId]
GO
ALTER TABLE [dbo].[Meets]  WITH CHECK ADD  CONSTRAINT [FK_Meets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Meets] CHECK CONSTRAINT [FK_Meets_Users_UserId]
GO
ALTER TABLE [dbo].[NhaTuyenDungs]  WITH CHECK ADD  CONSTRAINT [FK_NhaTuyenDungs_Statuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([Id])
GO
ALTER TABLE [dbo].[NhaTuyenDungs] CHECK CONSTRAINT [FK_NhaTuyenDungs_Statuses_StatusId]
GO
ALTER TABLE [dbo].[NhaTuyenDungs]  WITH CHECK ADD  CONSTRAINT [FK_NhaTuyenDungs_Tinhs_TinhId] FOREIGN KEY([TinhId])
REFERENCES [dbo].[Tinhs] ([Id])
GO
ALTER TABLE [dbo].[NhaTuyenDungs] CHECK CONSTRAINT [FK_NhaTuyenDungs_Tinhs_TinhId]
GO
ALTER TABLE [dbo].[NhaTuyenDungs]  WITH CHECK ADD  CONSTRAINT [FK_NhaTuyenDungs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NhaTuyenDungs] CHECK CONSTRAINT [FK_NhaTuyenDungs_Users_UserId]
GO
ALTER TABLE [dbo].[PhieuDangTuyens]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDangTuyens_NhaTuyenDungs_NhaTuyenDungId] FOREIGN KEY([NhaTuyenDungId])
REFERENCES [dbo].[NhaTuyenDungs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuDangTuyens] CHECK CONSTRAINT [FK_PhieuDangTuyens_NhaTuyenDungs_NhaTuyenDungId]
GO
ALTER TABLE [dbo].[PhieuDangTuyens]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDangTuyens_Statuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuDangTuyens] CHECK CONSTRAINT [FK_PhieuDangTuyens_Statuses_StatusId]
GO
ALTER TABLE [dbo].[PhieuDangTuyens]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDangTuyens_Tinhs_TinhId] FOREIGN KEY([TinhId])
REFERENCES [dbo].[Tinhs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuDangTuyens] CHECK CONSTRAINT [FK_PhieuDangTuyens_Tinhs_TinhId]
GO
ALTER TABLE [dbo].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Statuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Statuses_StatusId]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
USE [master]
GO
