@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Thay đổi mật khẩu thành công";
}

<h4>@ViewData["Title"]</h4>
<p>
    Mật khẩu đã được đổi. Vui lòng <a asp-page="./Login">đăng nhập lại</a>.
</p>
